.game-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2% 3%;
}
.greeting {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 5%;
}
.game-btns {
  margin-left: 20px;
  padding: 10px 20px;
  box-shadow: none;
  font-size: 16px;
  border-radius: 5%;
}
