.game-board {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: orange 1px solid;
}
.hand-container {
  display: flex;
  flex: 1;
  width: 100%;
}
.hands {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  margin: 5% 5%;
  border: 1px solid gray;
}
.description {
  font-size: 20px;
}
.rsp-container {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: space-evenly;
}
.rsp {
  font-size: 18px;
  margin-bottom: 5%;
}

.score-result {
  padding-left: 5%;
  font-size: 20px;
}
